<%inherit file="_base.html"/>
<%block name="title">
首页 - 
</%block>
<%block name="css">
    <link rel="stylesheet" href="${STATIC.css('bootstrap3-wysihtml5.min.css')}">
</%block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <section class="content-header">
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
            <li class="active">Dashboard</li>
        </ol>
        <div class="fn-clear-f"></div>
    </section>
</div>
<!-- /.content-wrapper -->
<%block name="js">
</%block>
