<%inherit file="_base.html"/>
<%block name="title">
首页 - 
</%block>
<%block name="css">
    <link rel="stylesheet" href="${STATIC.css('index.css')}">
</%block>

<!-- Content Wrapper. Contains page content -->
<div class="content-wrapper">
    <div class="box">
        <div id="guid-wrapper">
            <div id="guid">
                点此添加新文章
            </div>
        </div>
        <iframe name="main-frame" id="main-frame" src="" width="100%" border="0"> </iframe>
        <div class="overlay">
            <i class="fa fa-refresh fa-spin"></i>
        </div>
    </div>
</div>
<!-- /.content-wrapper -->

<!-- addition modal -->
<div class="modal fade addition-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">添加文档</h4>
            </div> 
            <div class="modal-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
                        <!-- general form elements -->
                        <!-- form start -->
                        <form role="form" id="addition-form" v-on:submit.prevent="submit">
                            <div class="box-body">
                                <div class="form-group">
                                    <label for="name">自定义图标（<i class="fa fa-{{icon}}"></i>）</label>
                                    <input type="text" class="form-control" id="icon" v-model="icon" placeholder="Font Awesome 图标名称">
                                    <span class="error-msg"> </span>
                                </div>
                                <div class="form-group">
                                    <label for="name">名称</label>
                                    <input type="text" class="form-control" id="name" v-model="name" placeholder="类型名称">
                                    <span class="error-msg"> </span>
                                </div>
                                <div class="form-group">
                                    <label for="name">文档页面</label>
                                    <input type="text" class="form-control" id="url" v-model="url" placeholder="文档 URL">
                                    <span class="error-msg"> </span>
                                </div>
                            </div>
                            <!-- /.box-body -->

                            <div class="box-footer">
                                <button type="submit" class="btn btn-primary">提交</button>
                                <button type="reset" class="btn btn-default">清空</button>
                            </div>
                        </form>
                    </div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div> 
        </div>
    </div>
</div>
<!-- /addition modal -->

<!-- mgr modal -->
<div class="modal fade mgr-modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
                <h4 class="modal-title">管理文档</h4>
            </div> 
            <div class="modal-body">
                <div class="row">
                    <!-- left column -->
                    <div class="col-md-12">
						<div class="box-body" id="doc-list">
							<table class="table table-bordered">
								<tr>
									<th>ID</th>
									<th>图标</th>
									<th>名称</th>
									<th>URL</th>
									<th style="width: 135px;">操作</th>
								</tr>
								<tr v-for="o in li">
									<td>{{o.id}}</td>
									<td><i class="fa fa-{{o.icon}}"></i></td>
									<td>{{o.name}}</td>
									<td>{{o.url}}</td>
									<td>
										<div class="btn-group">
											<button type="button" class="btn btn-xs btn-success" v-on:click="rm(o.id)" data-toggle="modal" data-target=".edition-modal">删除</button>
										</div>
									</td>
								</tr>
							</table>
						</div>
					</div>
                    <!--/.col (left) -->
                </div>
                <!-- /.row -->
            </div> 
        </div>
    </div>
</div>
<!-- /addition modal -->
<%block name="js">
    <script src="${STATIC.js('index.js')}"></script>
</%block>
